$font:'Rubik', sans-serif;

$color-primary:#ED9902;

$color-dark2:#2D2B29;

$color-white:#FFFFFF; 

$color-gray: #A19A8B;

$color-dark1:#21201E;

$color-liner:#4D4A45;

$color-white-alfa: rgba(255,255,255,0.15);

$color-body:#9B968B;

$transition: .3s all ease-in-out;

$radius-btn: 5px;

$color-subtitle:#A29A8B;

$color-get:#1E1E1E;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;