.get {
    margin-top: 90px;
    margin-bottom: 90px;
    @include desktop-small {
        flex-direction: column;
        
    }
}


    .input {
        
        background: $color-get;
        outline: 0;
        border-radius: 8px;
        border:1px solid rgba(255, 255, 255, 0.15);
        width: 1140px;
        margin-bottom: 20px;
        bottom: 30px;
        padding: 25px;
        color: $color-white;
        border-radius: $color-white;
        &::placeholder {
            color: $color-body;
        }
        
        

    }


 .textarea {
    background: $color-get;
        outline: 0;
        border-radius: 8px;
        border:1px solid rgba(255, 255, 255, 0.15);
        width: 1140px;
        margin-bottom: 20px;
        bottom: 30px;
        padding: 25px;
        color: $color-white;
        border-radius: $color-white;
        &::placeholder {
            color: $color-body;
            align-items: center;
        }
        
 }   

.btn {
    margin-bottom: 90px;
}
.main-screen {

		&__btn {
            margin-bottom: 90px;
		}
}
